<div class="body">
  <div class="conj-bar" title="Vida">
    <img src="..\..\assets\images\StatMods\Health_icon.webp" alt="Vida">
    <canvas class="bar-stats" id="life"></canvas>
  </div>
  <div class="conj-bar" title="mana">
    <img src="..\..\assets\images\StatMods\Mana_icon.webp" alt="Mana">
    <canvas class="bar-stats" id="mana-energy"></canvas>
  </div>
  <div class="conj-bar" title="Armadura">
    <img src="..\..\assets\images\StatMods\Armor_icon.webp" alt="Armadura">
    <canvas class="bar-stats" id="armor"></canvas>
  </div>
  <div class="conj-bar" title="Defensa Magica">
    <img src="..\..\assets\images\StatMods\Magic_resistance_icon.webp" alt="Defensa Magica">
    <canvas class="bar-stats" id="def-magic"></canvas>
  </div>
  <div class="conj-bar" title="Daño">
    <img src="..\..\assets\images\StatMods\Attack_damage_icon.webp" alt="Daño">
    <canvas class="bar-stats" id="damage"></canvas>
  </div>
</div>
