<div class="cont">
  <button role="button" (click)="consulta()">button</button>
  <button role="button" (click)="league()">League</button>

  <div fxLayout="row wrap" fxLayoutGap="12px grid">
    <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let item of champion_list">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{item.id}}</mat-card-title>
        </mat-card-header>
        <br>
        <a [routerLink]="'/champion/'+ item.id">
          <img mat-card-image [src]="env.img_splash + item.id + '_0.jpg'" alt="...">
        </a>
        <mat-card-content>
          <p>
          <!-- <p [innerHTML]="item.spells[0].tooltip"> -->
            {{item.blurb}}
            <!-- {{item.spells[0].tooltip}} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
